<%= render("waste_exemptions_engine/shared/back", token: @activity_exemptions_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @activity_exemptions_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

      <div class="govuk-form-group <%= "govuk-form-group--error" if @activity_exemptions_form.errors[:exemptions].any? %>">
        <fieldset id="<%="matched_exemptions"%>" class="govuk-fieldset">
          <legend class="govuk-visually-hidden"><%= t(".legend") %></legend>

          <% if @activity_exemptions_form.errors[:temp_exemptions].any? %>
            <span class="govuk-error-message" id="activity-exemptions-form-temp-exemptions-field-error"><%= @activity_exemptions_form.errors[:temp_exemptions].join(", ") %></span>
          <% end %>
          <div class="govuk-checkboxes">
            <% current_activity = nil %>
            <% selected_activity_exemptions(@transient_registration).each do |exemption|  %>

              <% if current_activity != exemption.waste_activity_id %>
                <% if current_activity.present? %><hr /><% end %>
                <h2 class="govuk-heading-m govuk-!-padding-top-3"><%= exemption.waste_activity&.name_gerund  %></h2>
                <% current_activity = exemption.waste_activity_id %>
              <% end %>

              <div class="govuk-checkboxes__item">
                <%= f.check_box :temp_exemptions,
                    { :multiple => true,
                      id: "activity_exemptions_form_checkbox-#{exemption.code}",
                      checked: @activity_exemptions_form.temp_exemptions&.include?(exemption.id.to_s),
                      class: "govuk-checkboxes__input",
                    }, exemption.id, nil %>
                  <%= f.label "checkbox-#{exemption.code}", class: "govuk-label govuk-checkboxes__label" do %>
                  <span class="govuk-!-font-weight-bold"><%= exemption.code %> <%= exemption.summary %></span>
                  <br><%= t(".see") %> <%= link_to t(".exemption_link_name", exemption_code: exemption.code), exemption.url, target: "_blank" %> <%= t(".opens_in_new_window") %>.
                  <br><strong><%= exemption_charge_display(exemption) %><%= " (F)" if farming_exemption?(exemption) %></strong>
                <% end %>
              </div>

            <% end %>
          </div>
        </fieldset>
      </div>

      <p class="govuk-body"><%= t(".charges_shown_in_full") %></p>
      <p class="govuk-body"><%= t(".discounted_charges_in_brackets") %></p>

      <p class="govuk-body"><strong><%= t(".farming_exemption_indicator") %></strong></p>

      <% if show_farming_info?(@transient_registration) %>
        <p class="govuk-body"><%= t(".farming_capped_charge") %></p>
      <% end %>

      <p class="govuk-body"><%= t(".charities_free") %></p>

      <p class="govuk-body"><%= t(".see") %> <%= link_to t(".waste_exemption_charges_link"), "https://www.gov.uk/guidance/waste-exemptions-environmental-permits#waste-exemption-charges", target: "_blank" %> <%= t(".opens_in_new_window") %></p>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
