<%= render("waste_exemptions_engine/shared/back", token: @farm_exemptions_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @farm_exemptions_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

      <p class="govuk-body"><%= t(".description") %></p>

      <div class="govuk-form-group <%= "govuk-form-group--error" if @farm_exemptions_form.errors[:exemptions].any? %>">
        <fieldset id="<%="matched_exemptions"%>" class="govuk-fieldset">
          <legend class="govuk-visually-hidden"><%= t(".legend") %></legend>

          <% if @farm_exemptions_form.errors[:temp_exemptions].any? %>
            <span class="govuk-error-message" id="farm_activity-exemptions-form-temp-exemptions-field-error"><%= @farm_exemptions_form.errors[:temp_exemptions].join(", ") %></span>
          <% end %>

          <div class="govuk-checkboxes">
            <% sorted_farm_exemptions.each do |exemption| %>

               <div class="govuk-checkboxes__item">
                <%= f.check_box :temp_exemptions,
                    { :multiple => true,
                      id: "farm_exemptions_form_checkbox-#{exemption.code}",
                      checked: @farm_exemptions_form.temp_exemptions&.include?(exemption.id.to_s),
                      class: "govuk-checkboxes__input",
                    }, exemption.id, nil %>
                <%= f.label "checkbox-#{exemption.code}", class: "govuk-label govuk-checkboxes__label" do %>
                  <span class="govuk-!-font-weight-bold"><%= exemption.code %></span>
                  <span class="govuk-!-font-weight-bold"><%= exemption.summary %></span> -
                  <span><%= exemption.description %></span>
                  <%= t(".see") %>
                  <%= link_to t(".exemption_link_name", exemption_code: exemption.code), exemption.url, target: "_blank" %>
                  <%= t(".opens_in_new_window") %>. 
                  <%= exemption.band&.name %>
                <% end %>
              </div>

            <% end %>
          </div>
        </fieldset>
      </div>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
