<%= render("waste_exemptions_engine/shared/back", token: @confirm_edit_exemptions_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @confirm_edit_exemptions_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <% if @confirm_edit_exemptions_form.transient_registration.exemptions.empty? %>
        <h1 class="govuk-heading-l"><%= t(".heading_deregister") %></h1>
      <% else %>
        <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
      <% end %>

      <ul class="govuk-list">
        <% @confirm_edit_exemptions_form.transient_registration.excluded_exemptions.each do |exemption_id| %>
          <% exemption = WasteExemptionsEngine::Exemption.find_by(id: exemption_id) %>
          <li><span><%= exemption.code %></span> <span><%= exemption.summary %></span></li>
        <% end %>
      </ul>

      <div class="govuk-form-group <%= "govuk-form-group--error" if @confirm_edit_exemptions_form.errors[:workflow_state].any? %>">
        <%= f.govuk_collection_radio_buttons :temp_confirm_exemption_edits,
          [
            OpenStruct.new(
              id: true,
              name: t(".options.yes")
            ),
            OpenStruct.new(
              id: false,
              name: t(".options.no")
            )
          ],
          :id,
          :name,
          legend: {
            text: t(".heading"),
            hidden: true
          },
          inline: true %>

        <br />
        <%= f.govuk_submit %>
      </div>

    <% end %>
  </div>
</div>
