<%= render("waste_exemptions_engine/shared/back", token: @confirm_edit_exemptions_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @confirm_edit_exemptions_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <% if @confirm_edit_exemptions_form.transient_registration.exemptions.empty? %>
        <h1 class="govuk-heading-l"><%= t(".heading_deregister") %></h1>
      <% else %>
        <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
      <% end %>

      <p class="govuk-hint"><%= t(".description") %></p>

      <ul class="govuk-list">
        <% @confirm_edit_exemptions_form.transient_registration.excluded_exemptions.each do |exemption| %>
          <li><span><%= exemption.code %></span> <span><%= exemption.summary %></span></li>
        <% end %>
      </ul>

      <fieldset id="confirm_edit_exemptions" class="govuk-fieldset">
        <legend class="govuk-visually-hidden"><%= t(".legend") %></legend>
        <%= f.govuk_collection_radio_buttons :workflow_state,
            @confirm_edit_exemptions_form.workflow_state_options_for_select, :id, :name, inline: true, legend: nil %>

        <%= f.govuk_submit %>
      </fieldset>

    <% end %>
  </div>
</div>
