<%= render("waste_exemptions_engine/shared/back", back_path: back_contact_name_forms_path(@contact_name_form.token)) %>

<div class="text">
  <%= form_for(@contact_name_form) do |f| %>
    <%= render("waste_exemptions_engine/shared/errors", object: @contact_name_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <p><%= t(".description") %></p>

    <div class="form-group <%= "form-group-error" if @contact_name_form.errors[:contact_first_name].any? %>">
      <fieldset id="contact_first_name">
        <% if @contact_name_form.errors[:contact_first_name].any? %>
          <span class="error-message"><%= @contact_name_form.errors[:contact_first_name].join(", ") %></span>
        <% end %>

        <%= f.label :contact_first_name, t(".contact_first_name_label"), class: "form-label" %>
        <%= f.text_field :contact_first_name, value: @contact_name_form.contact_first_name, class: "form-control govuk-input--width-20" %>
      </fieldset>
    </div>

    <div class="form-group <%= "form-group-error" if @contact_name_form.errors[:contact_last_name].any? %>">
      <fieldset id="contact_last_name">
        <% if @contact_name_form.errors[:contact_last_name].any? %>
          <span class="error-message"><%= @contact_name_form.errors[:contact_last_name].join(", ") %></span>
        <% end %>

        <%= f.label :contact_last_name, t(".contact_last_name_label"), class: "form-label" %>
        <%= f.text_field :contact_last_name, value: @contact_name_form.contact_last_name, class: "form-control govuk-input--width-20" %>
      </fieldset>
    </div>

    <%= f.hidden_field :token, value: @contact_name_form.token %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
