<%= render("waste_exemptions_engine/shared/back", back_path: back_applicant_name_forms_path(@applicant_name_form.token)) %>

<div class="text">
  <%= form_for(@applicant_name_form) do |f| %>
    <%= render("waste_exemptions_engine/shared/errors", object: @applicant_name_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <p><%= t(".description") %></p>

    <div class="form-group <%= "form-group-error" if @applicant_name_form.errors[:applicant_first_name].any? %>">
      <fieldset id="applicant_first_name">
        <% if @applicant_name_form.errors[:applicant_first_name].any? %>
            <span class="error-message"><%= @applicant_name_form.errors[:applicant_first_name].join(", ") %></span>
        <% end %>

        <%= f.label :applicant_first_name, t(".applicant_first_name_label"), class: "form-label" %>
        <%= f.text_field :applicant_first_name, value: @applicant_name_form.applicant_first_name, class: "form-control govuk-input--width-20" %>
      </fieldset>
    </div>

    <div class="form-group <%= "form-group-error" if @applicant_name_form.errors[:applicant_last_name].any? %>">
      <fieldset id="applicant_last_name">
        <% if @applicant_name_form.errors[:applicant_last_name].any? %>
          <span class="error-message"><%= @applicant_name_form.errors[:applicant_last_name].join(", ") %></span>
        <% end %>

        <%= f.label :applicant_last_name, t(".applicant_last_name_label"), class: "form-label" %>
        <%= f.text_field :applicant_last_name, value: @applicant_name_form.applicant_last_name, class: "form-control govuk-input--width-20" %>
      </fieldset>
    </div>

    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
