<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
    <%= t(".heading", company_no: @check_registered_name_and_address_form.temp_company_no) %>
    </h1>
    <p class="govuk-body"><%= t(".paragraph_1") %></p>

    <p class="govuk-body">
      <%= t(".paragraph_2.line_1") %> <br/>
      <%= t(".paragraph_2.line_2") %> <br/>
      <a href="mailto:<%= t(".enquiries_email") %>"><%= t(".enquiries_email") %></a>
    </p>
      <%= link_to t(".continue"), start_forms_path, class: "govuk-button" %>
  </div>
</div>