<%= render("waste_exemptions_engine/shared/back", back_path: back_registration_number_forms_path(@transient_registration_number_form.token)) %>

<div class="text">
  <%= form_for(@transient_registration_number_form) do |f| %>
    <%= render("waste_exemptions_engine/shared/errors", object: @transient_registration_number_form) %>

    <h1 class="heading-large"><%= t(".heading.#{@transient_registration_number_form.business_type}") %></h1>

    <% if @transient_registration_number_form.errors[:company_no].any? %>
    <div class="form-group form-group-error">
    <% else %>
    <div class="form-group">
    <% end %>
      <fieldset id="company_no">
        <legend class="visuallyhidden">
          <%= t(".heading.#{@transient_registration_number_form.business_type}") %>
        </legend>

        <% if @transient_registration_number_form.errors[:company_no].any? %>
        <span class="error-message"><%= @transient_registration_number_form.errors[:company_no].join(", ") %></span>
        <% end %>

        <%= f.label :company_no, class: "form-label" do %>
          <%= t(".company_no_label") %>
          <span class='form-hint'><%= t(".company_no_hint") %></span>
        <% end %>
        <%= f.text_field :company_no, value: @transient_registration_number_form.company_no, class: "form-control" %>

      </fieldset>
    </div>

    <div class="form-group">
      <details>
        <summary>
          <span class="summary"><%= t(".detail_subheading") %></span>
        </summary>
        <div class="panel panel-border-narrow">
          <p><%= t(".detail.#{@transient_registration_number_form.business_type}") %></p>
        </div>
      </details>
    </div>

    <p><%= t(".explanation.#{@transient_registration_number_form.business_type}") %></p>

    <%= f.hidden_field :token, value: @transient_registration_number_form.token %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
