<div class="text">
  <%= form_for(@renewal_start_form) do |f| %>
    <%= render("waste_exemptions_engine/shared/errors", object: @renewal_start_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <div class="form-group <%= "form-group-error" if @renewal_start_form.errors[:temp_renew_without_changes].any? %>">
      <fieldset class="inline" id="temp_renew_without_changes">
        <% if @renewal_start_form.errors[:temp_renew_without_changes].any? %>
          <span class="error-message"><%= @renewal_start_form.errors[:temp_renew_without_changes].join(", ") %></span>
        <% end %>

        <div class="multiple-choice">
          <%= f.radio_button :temp_renew_without_changes, "true" %>
          <%= f.label :temp_renew_without_changes, t(".options.yes"), value: "true" %>
        </div>
        <div class="multiple-choice">
          <%= f.radio_button :temp_renew_without_changes, "false" %>
          <%= f.label :temp_renew_without_changes, t(".options.no"), value: "false" %>
        </div>
      </fieldset>
    </div>

    <%= f.hidden_field :token, value: @renewal_start_form.token %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
