<%= render("waste_exemptions_engine/shared/back", token: @confirm_activity_exemptions_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @confirm_activity_exemptions_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
      
      <div class="govuk-body">
        <% if show_farm_exemptions?(@transient_registration) %>
          <section class="govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m"><%= t(".farm_exemptions") %></h2>
            <% farm_exemptions(@transient_registration).each do |exemption| %>
              <p><%= exemption.code %> <%= exemption.summary %></p>
            <% end %>
          </section>

          <% non_farm_exemptions = selected_exemptions(@transient_registration.temp_exemptions, @transient_registration.temp_farm_exemptions) %>
          <% exemptions_by_band(non_farm_exemptions).each do |band| %>
            <section class="govuk-!-margin-bottom-6">
              <h2 class="govuk-heading-m"><%= band[:name] %> exemptions</h2>
              <% band[:exemptions].each do |exemption| %>
                <p><%= exemption.code %> <%= exemption.summary %></p>
              <% end %>
            </section>
          <% end %>
        <% else %>
          <% exemptions_by_band(selected_exemptions(@transient_registration.temp_exemptions)).each do |band| %>
            <section class="govuk-!-margin-bottom-6">
              <h2 class="govuk-heading-m"><%= band[:name] %> exemptions</h2>
              <% band[:exemptions].each do |exemption| %>
                <p><%= exemption.code %> <%= exemption.summary %></p>
              <% end %>
            </section>
          <% end %>
        <% end %>
      </div>
      
      <div class="govuk-form-group govuk-!-padding-top-3 <%= "govuk-form-group--error" if @confirm_activity_exemptions_form.errors[:workflow_state].any? %>">
        <%= f.govuk_collection_radio_buttons :temp_confirm_exemptions,
            [
              OpenStruct.new(
                id: true,
                name: show_farm_exemptions?(@transient_registration) ? t(".options.farm.true") : t(".options.standard.true")
              ),
              OpenStruct.new(
                id: false,
                name: show_farm_exemptions?(@transient_registration) ? t(".options.farm.false") : t(".options.standard.false")
              )
            ],
            :id,
            :name,
            legend: {
              text: t(".heading"),
              hidden: true
            },
            inline: false %>

        <% if show_farm_exemptions?(@transient_registration) %>
          <p class="govuk-body govuk-!-padding-top-4">
            <%= t(".farm_link_text") %>
            <%= link_to t(".farm_link"), 
                        new_farm_exemptions_form_path(@confirm_activity_exemptions_form.token), 
                        class: "govuk-link" %>.
          </p>
        <% end %>

        <br />
        <%= f.govuk_submit %>
      </div>
    <% end %>
  </div>
</div>
