<%= render("waste_exemptions_engine/shared/back", token: @site_address_lookup_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @site_address_lookup_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

      <p class="govuk-body">
        <%= t(".postcode_label") %>
        <br/>
        <span class="postcode govuk-!-font-weight-bold">
          <%= @site_address_lookup_form.postcode %>
        </span>
        <%= link_to(t(".postcode_change_link"),
            back_site_address_lookup_forms_path(@site_address_lookup_form.token)) %>
      </p>

      <%= f.fields_for :site_address do |f| %>
        <%= render("waste_exemptions_engine/shared/select_address", form: @site_address_lookup_form, address: :site_address, f: f) %>
      <% end %>

      <p class="govuk-body">
        <%= link_to(t(".manual_address_link"), skip_to_manual_address_site_address_lookup_forms_path(@site_address_lookup_form.token)) %>
      </p>

      <%= f.govuk_submit t(".next_button") %>
    <% end %>

    <%= render("waste_exemptions_engine/shared/os_terms_footer") %>
  </div>
</div>
