<%= render("waste_exemptions_engine/shared/back", token: @site_address_lookup_form.token) %>

<% is_multisite = @site_address_lookup_form.transient_registration.multisite? %>
<% i18n_scope = "waste_exemptions_engine.site_address_lookup_forms.new" %>
<% field_prefix = is_multisite ? "multisite-site-address-lookup-site" : "site-address-lookup-site" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @site_address_lookup_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l"><%= t("#{i18n_scope}.heading") %></h1>

      <p class="govuk-body">
        <%= t("#{i18n_scope}.postcode_label") %>
        <br/>
        <span class="postcode govuk-!-font-weight-bold">
          <%= @site_address_lookup_form.postcode %>
        </span>
        <%= link_to(t("#{i18n_scope}.postcode_change_link"), go_back_forms_path(@site_address_lookup_form.token)) %>
      </p>

      <%= f.fields_for :site_address do |address_f| %>
        <%= render("waste_exemptions_engine/shared/select_address", 
            form: @site_address_lookup_form, 
            field_prefix: field_prefix, 
            address: :site_address, 
            f: address_f) %>
      <% end %>

      <p class="govuk-body">
        <%= link_to(t("#{i18n_scope}.grid_reference_link"), new_site_grid_reference_form_path(@site_address_lookup_form.token)) %>
      </p>

      <%= f.govuk_submit t("#{i18n_scope}.next_button") %>
    <% end %>

    <%= render("waste_exemptions_engine/shared/os_terms_footer") %>
  </div>
</div>
