<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @private_beta_registration_complete_form.errors.any? %>

      <h1 class="govuk-heading-l"><%= t(".error_heading") %></h1>

      <ul style="list-style-type:none;">
        <% @private_beta_registration_complete_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    <% else %>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          <%= t(".heading") %>
          <br />
          <span class="govuk-panel__body"><%= t(".highlight_text") %></span>
        </h1>
        <div class="govuk-panel__body">
          <strong>
            <span id="reg_identifier"><%= @registration.reference %></span>
          </strong>
        </div>
      </div>

      <h2 class="govuk-heading-m"><%= t(".subheading") %></h2>

      <p class="govuk-body">
        <%= t(".confirmation_email_text.#{confirmation_comms(@private_beta_registration_complete_form)}",
              applicant: @private_beta_registration_complete_form.applicant_email,
              contact: @private_beta_registration_complete_form.contact_email) %>
      </p>

      <p class="govuk-body"><%= t(".paragraph_1", expire_day_month_year: registration_expires_day_month_year(@registration)) %></p>

      <p class="govuk-body"><%= t(".paragraph_2") %></p>

      <% feedback_url = Rails.configuration.private_beta_feedback_url %>
      <% if feedback_url.present? %>
        <h2 class="govuk-heading-m"><%= t(".survey_subheading") %></h2>
        <p class="govuk-body"><%= t(".survey_text") %></p>
        <%= link_to(t(".survey_link_text"), feedback_url, target: "_blank", class: "govuk-button") %>
      <% end %>

      <p class="govuk-body"><%= t(".thanks_text") %></p>
    <% end %>
  </div>
</div>
