<%= render("waste_exemptions_engine/shared/back", back_path: back_edit_confirm_cancel_forms_path(@edit_confirm_cancel_form.token)) %>

<div class="text">
  <%= form_for(@edit_confirm_cancel_form) do |f| %>
    <%= render("waste_exemptions_engine/shared/errors", object: @edit_confirm_cancel_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <p><%= t(".paragraph_1") %></p>

    <%= f.hidden_field :token, value: @edit_confirm_cancel_form.token %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
