<%= render("waste_exemptions_engine/shared/back", back_path: "/") %>

<%= form_for(@front_office_edit_form) do |f| %>
  <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".heading", reference: @front_office_edit_form.reference) %></h1>

      <p class="govuk-body"><%= t(".paragraph_1") %></p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% transient_registration = @front_office_edit_form.transient_registration %>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".row_labels.exemptions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= exemptions_list(transient_registration) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to edit_exemptions_front_office_edit_forms_path, "aria-label": t(".edit_links.visually_hidden.exemptions") do %>
              <%= t(".edit_links.update_link_text") %>
            <% end %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".row_labels.contact_name") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= "#{transient_registration.contact_first_name} #{transient_registration.contact_last_name}" %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to contact_name_front_office_edit_forms_path, "aria-label": t(".edit_links.visually_hidden.contact_name") do %>
              <%= t(".edit_links.update_link_text") %>
            <% end %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".row_labels.contact_phone") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= transient_registration.contact_phone %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to contact_phone_front_office_edit_forms_path, "aria-label": t(".edit_links.visually_hidden.contact_phone") do %>
              <%= t(".edit_links.update_link_text") %>
            <% end %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".row_labels.contact_email") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= transient_registration.contact_email %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to contact_email_front_office_edit_forms_path, "aria-label": t(".edit_links.visually_hidden.contact_email") do %>
              <%= t(".edit_links.update_link_text") %>
            <% end %>
          </dd>
        </div>

      </dl>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-button-group">
      <%= f.govuk_submit t(".next_button")%>
    </div>
  </div>
<% end %>
