<%= render("waste_exemptions_engine/shared/back", token: @payment_summary_form.token) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
    <table class="govuk-table" id="payment-summary-table">
      <caption class="govuk-table__caption govuk-table__caption--m"><%= t(".payment_summary") %></caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" id="compliance-charge-row">
          <th scope="row" class="govuk-table__header"><%= t(".charges.compliance_charge") %></th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><%= @payment_summary_form.total_compliance_charge %></td>
        </tr>
        <tr class="govuk-table__row" id="registration-charge-row">
          <th scope="row" class="govuk-table__header"><%= t(".charges.registration_charge") %></th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><%= @payment_summary_form.registration_charge %></td>
        </tr>
        <tr class="govuk-table__row" id="total-charge-row">
          <th scope="row" class="govuk-table__header"><%= t(".charges.total_charge") %></th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><%= @payment_summary_form.total_charge %></td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body" id="vat-note"><%= t(".vat_note") %></p>
    <%= form_for @payment_summary_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>
      <h2 class="govuk-heading-m"><%= t(".make_payment") %></h2>
      <%= f.govuk_radio_buttons_fieldset :payment_type,
        legend: { text: t(".payment_type_legend"), size: "m" } do %>
        <%= f.govuk_radio_button :payment_type, "card",
        label: { text: t(".payment_options.card") },
        hint: { text: t(".payment_options.card_hint") },
        link_errors: true do %>
    <% end %>
    <%= f.govuk_radio_button :payment_type, "bank_transfer",
      label: { text: t(".payment_options.bank") },
      hint: { text: t(".payment_options.bank_hint") } %>
  <% end %>
  <%= f.govuk_submit t(".payment_submit_button_label") %>
<% end %>
  </div>
</div>
