<% if form.errors[:premises].any? %>
<div class="form-group form-group-error">
<% else %>
<div class="form-group">
<% end %>
  <fieldset id="premises">
    <% if form.errors[:premises].any? %>
    <span class="error-message"><%= form.errors[:premises].join(", ") %></span>
    <% end %>

    <%= f.label :premises, class: "form-label" do %>
      <%= t(".premises_label") %>
      <span class='form-hint'><%= t(".premises_hint") %></span>
    <% end %>
    <%= f.text_field :premises, value: form.premises, class: "form-control" %>
  </fieldset>
</div>

<% if form.errors[:street_address].any? %>
<div class="form-group form-group-error">
<% else %>
<div class="form-group">
<% end %>
  <fieldset id="street_address">
    <% if form.errors[:street_address].any? %>
    <span class="error-message"><%= form.errors[:street_address].join(", ") %></span>
    <% end %>

    <%= f.label :street_address, t(".street_address_label"), class: "form-label" %>
    <%= f.text_field :street_address, value: form.street_address, class: "form-control" %>
  </fieldset>
</div>

<% if form.errors[:locality].any? %>
<div class="form-group form-group-error">
<% else %>
<div class="form-group">
<% end %>
  <fieldset id="locality">
    <% if form.errors[:locality].any? %>
    <span class="error-message"><%= form.errors[:locality].join(", ") %></span>
    <% end %>

    <%= f.label :locality, t(".locality_label"), class: "form-label" %>
    <%= f.text_field :locality, value: form.locality, class: "form-control" %>
  </fieldset>
</div>

<% if form.errors[:city].any? %>
<div class="form-group form-group-error">
<% else %>
<div class="form-group">
<% end %>
  <fieldset id="city">
    <% if form.errors[:city].any? %>
    <span class="error-message"><%= form.errors[:city].join(", ") %></span>
    <% end %>

    <%= f.label :city, t(".city_label"), class: "form-label" %>
    <%= f.text_field :city, value: form.city, class: "form-control" %>
  </fieldset>
</div>

<%= f.hidden_field :postcode, value: form.postcode %>
