<div class="form-group <%= "form-group-error" if form.errors[address].any? %>">
  <fieldset id="<%= address %>">
    <% if form.errors[address].any? %>
      <span class="error-message"><%= form.errors[address].join(", ") %></span>
    <% end %>

    <%= f.label address, t(".address_label"), class: "form-label" %>
    <%= f.select(address,
                 options_for_select(form.temp_addresses.map { |a| [a["address"], a["uprn"]] }, form.send(address)),
                 { include_blank: t(".address_blank_option", count: form.temp_addresses.length ) },
                 { class: "form-control" }) %>
  </fieldset>
</div>
