<h1 class="govuk-heading-l">
  <%= t("#{locale_prefix}.heading") %>
</h1>

<p class="govuk-body">
  <%= t("#{locale_prefix}.grid_reference_preferred_option") %>
<% if is_multisite %>
    <br>
    <%= t("#{locale_prefix}.multisite_instruction") %>
<% end %>
</p>
<p class="govuk-body">
  <%= link_to(t("#{locale_prefix}.postcode_link_text"), skip_to_address_path) %> <%= t("#{locale_prefix}.postcode_suffix") %>
</p>

<p class="govuk-body"><%= t("#{locale_prefix}.or") %></p>

<% grid_ref_finder_link = link_to(t("#{locale_prefix}.grid_reference_help_tool_link"), "http://gridreferencefinder.com/", rel: "external", target: "_blank") %>

<p class="govuk-body">
  <%= t("#{locale_prefix}.grid_reference_link_hint", grid_ref_finder_link:).html_safe %>
</p>

<%= f.govuk_text_field :grid_reference,
  label: {
    text: t("#{locale_prefix}.grid_reference_label")
  },
  width: "one-third",
  hint: {
    text: t("#{locale_prefix}.grid_reference_hint")
  }
%>

<%= f.govuk_text_area :description,
  label: {
    text: t("#{locale_prefix}.description_label"),
    size: "s"
  },
  hint: {
    text: t("#{locale_prefix}.description_hint")
  },
  max_chars: 500
%>

<% if is_multisite %>
  <p class="govuk-body" style="color: #d4351c;">
  <%= t("#{locale_prefix}.continue_instruction") %>
  </p>
<% end %>

<%= f.govuk_submit t("#{locale_prefix}.next_button") %>
