<%= form_for form_object do |f| %>
  <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

  <h1 class="govuk-heading-l"><%= t("#{i18n_scope}.heading") %></h1>

  <p class="govuk-body">
    <%= t("#{i18n_scope}.postcode_label") %>
    <br/>
    <span class="postcode govuk-!-font-weight-bold">
      <%= form_object.postcode %>
    </span>
    <%= link_to(t("#{i18n_scope}.postcode_change_link"), go_back_forms_path(form_object.token)) %>
  </p>

  <%= f.fields_for address_field do |address_f| %>
    <%= render("waste_exemptions_engine/shared/select_address", 
        form: form_object, 
        field_prefix: field_prefix, 
        address: address_field, 
        f: address_f) %>
  <% end %>

  <p class="govuk-body">
    <%= link_to(t("#{i18n_scope}.grid_reference_link"), grid_reference_link) %>
  </p>

  <%= f.govuk_submit t("#{i18n_scope}.next_button") %>
<% end %>

<%= render("waste_exemptions_engine/shared/os_terms_footer") %>
