<%= form_for form_object do |f| %>
  <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

  <h1 class="govuk-heading-l"><%= t("#{i18n_scope}.heading") %></h1>

  <%= f.govuk_text_field :temp_site_postcode,
      label: { text: t("#{i18n_scope}.postcode_label") },
      hint: { text: t("#{i18n_scope}.postcode_hint") },
      width: 10,
      autocomplete: "postal-code" %>

  <%= f.govuk_submit t("#{i18n_scope}.next_button") %>

  <% if form_object.errors.added?(:temp_site_postcode, :no_results) %>
    <div class="govuk-body">
      <%= link_to(t("#{i18n_scope}.grid_reference_link"), grid_reference_link) %>
    </div>
  <% end %>
<% end %>

<%= render("waste_exemptions_engine/shared/os_terms_footer") %>
