<%= render("waste_exemptions_engine/shared/back", token: @business_type_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@business_type_form) do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <%= f.govuk_collection_radio_buttons :business_type,
          [
            OpenStruct.new(
              id: WasteExemptionsEngine::TransientRegistration::BUSINESS_TYPES[:sole_trader],
              name: t(".options.individual")
            ),
            OpenStruct.new(
              id: WasteExemptionsEngine::TransientRegistration::BUSINESS_TYPES[:limited_company],
              name: t(".options.limited_company")
            ),
            OpenStruct.new(
              id: WasteExemptionsEngine::TransientRegistration::BUSINESS_TYPES[:partnership],
              name: t(".options.partnership")
            ),
            OpenStruct.new(
              id: WasteExemptionsEngine::TransientRegistration::BUSINESS_TYPES[:limited_liability_partnership],
              name: t(".options.limited_liability_partnership")
            ),
            OpenStruct.new(
              id: WasteExemptionsEngine::TransientRegistration::BUSINESS_TYPES[:local_authority],
              name: t(".options.local_authority")
            ),
            OpenStruct.new(
              id: WasteExemptionsEngine::TransientRegistration::BUSINESS_TYPES[:charity],
              name: t(".options.charity")
            )
          ],
          :id,
          :name,
          legend: { text: t(".heading"), tag: "h1", size: "l" },
          hint: { text: t(".description") } %>

     <p class="govuk-body"><%= t(".help") %></p>

     <%= f.govuk_submit %>
   <% end %>
 </div>
</div>
