<%= render("waste_exemptions_engine/shared/back", token: @site_grid_reference_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @site_grid_reference_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <span class="govuk-visually-hidden">
        <%= t(".legend") %>
      </span>

      <h1 class="govuk-heading-l">
        <%= t(".heading") %>
      </h1>

      <p class="govuk-body">
        <%= t(".grid_reference_preferred_option") %><br>
        <%= t(".postcode_alternative_option",
                postcode_link: link_to( t(".postcode_link_text"), skip_to_address_site_grid_reference_forms_path(@site_grid_reference_form.token))
                ).html_safe %>
      </p>

      <% grid_ref_finder_link = link_to( t(".grid_reference_help_tool_link"), "http://gridreferencefinder.com/", rel: "external", target: "_blank") %>

      <%= f.govuk_text_field :grid_reference,
        label: {
          text: t(".grid_reference_label"),
          size: "s"
        },
        width: "one-third",
        hint: {
          text: safe_join([
            t(".grid_reference_link_hint", grid_ref_finder_link:).html_safe,
            tag.br,
            t(".grid_reference_hint")
          ])
        }
      %>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= t(".grid_reference_help_link") %>
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            <%=
              t(".grid_reference_help_hint",
                link: link_to( t(".grid_reference_help_tool_link"), "http://gridreferencefinder.com/",
                rel: "external",
                target: "_blank")
              ).html_safe
            %>
          </p>
          <ol class="govuk-list govuk-list--number">
            <li><%= t(".grid_reference_help_step_1") %></li>
            <li><%= t(".grid_reference_help_step_2") %></li>
            <li><%= t(".grid_reference_help_step_3") %></li>
          </ol>
        </div>
      </details>

      <%= f.govuk_text_area :description,
        label: {
          text: t(".description_label"),
          size: "s"
        },
        hint: {
          text: t(".description_hint")
        },
        max_chars: 500
      %>
      <%= f.govuk_submit t(".next_button") %>
    <% end %>
  </div>
</div>
