<%= render("waste_exemptions_engine/shared/back", token: @front_office_edit_declaration_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@front_office_edit_declaration_form) do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <%= f.govuk_check_boxes_fieldset :declaration,
          multiple: false,
          legend: { text:  t(".heading"), size: "l", tag: "h1" } do %>

        <p class="govuk-body govuk-!-font-weight-bold">
          <%= t(".notice") %>
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li><%= t(".list_item_1") %></li>
          <li><%= t(".list_item_2") %></li>
          <li><%= t(".list_item_3") %></li>
          <li><%= t(".list_item_4") %></li>
        </ul>

        <%= f.govuk_check_box :declaration,
          1,
          0,
          multiple: false,
          link_errors: true,
          label: { text: t(".declaration_text") } %>
        <% end %>

      <p class="govuk-body">
        <%= link_to t(".privacy_link_text"), page_path("privacy"),  target: "_blank" %>
      </p>

      <%= f.govuk_submit t(".next_button") %>
    <% end %>
  </div>
</div>
