<%= render("waste_exemptions_engine/shared/back", back_path: back_register_in_northern_ireland_forms_path(@register_in_northern_ireland_form.id)) %>

<div class="text">
  <%= form_for(@register_in_northern_ireland_form) do |f| %>
    <%= render("waste_exemptions_engine/shared/errors", object: @register_in_northern_ireland_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <div class="form-group">
      <p><%= t(".paragraph_1") %></p>
      <p><%= t(".paragraph_2") %> <a href="https://www.gov.uk/waste-management-licence-northern-ireland/northern-ireland-environment-agency/apply-for-exemption"><%= t(".service_link") %></a>.</p>
      <p><%= t(".paragraph_3") %></p>
    </div>

    <%= f.hidden_field :id, value: @register_in_northern_ireland_form.id %>
  <% end %>
</div>
