<% content_for :title, t(".heading", reference: @back_office_edit_form.reference) %>

<%= render("waste_exemptions_engine/shared/back", back_path: edit_back_path(@back_office_edit_form.transient_registration)) %>

<%= form_for(@back_office_edit_form) do |f| %>
  <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".heading", reference: @back_office_edit_form.reference) %></h1>

      <p class="govuk-body"><%= t(".paragraph_1") %></p>
      <p class="govuk-body"><%= t(".paragraph_2") %></p>

      <div class="govuk-inset-text">
        <p class="govuk-body">
          <%= t(".edit_meta.created_at",
                created_at: @back_office_edit_form.transient_registration.created_at.to_formatted_s(:time_on_day_month_year)) %>
        </p>
        <% if edits_made?(@back_office_edit_form.transient_registration) %>
          <p class="govuk-body">
            <%= t(".edit_meta.updated_at",
                  updated_at: @back_office_edit_form.transient_registration.updated_at.to_formatted_s(:time_on_day_month_year)) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        <%= t(".sections.location.heading") %>
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.location.labels.location") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= t(".sections.location.values.location.#{@back_office_edit_form.location}") %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= t(".edit_links.no_edit") %>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        <%= t(".sections.applicant.heading") %>
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.applicant.labels.applicant_name") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= format_names(@back_office_edit_form.applicant_first_name, @back_office_edit_form.applicant_last_name) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to applicant_name_back_office_edit_forms_path(@back_office_edit_form.token) do %>
              <%= t(".edit_links.default") %>
              <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.applicant_name") %></span>
            <% end %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.applicant.labels.applicant_phone") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @back_office_edit_form.applicant_phone %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to applicant_phone_back_office_edit_forms_path(@back_office_edit_form.token) do %>
              <%= t(".edit_links.default") %>
              <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.applicant_phone") %></span>
            <% end %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.applicant.labels.applicant_email") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @back_office_edit_form.applicant_email %>
          </dd>
          <dd class="govuk-summary-list__actions">
              <%= link_to applicant_email_back_office_edit_forms_path(@back_office_edit_form.token) do %>
                <%= t(".edit_links.default") %>
                <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.applicant_email") %></span>
              <% end %>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        <%= t(".sections.operator.heading") %>
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= entity_name_label(@back_office_edit_form) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @back_office_edit_form.operator_name %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <% if @back_office_edit_form.company_no_required? %>
              <%= t(".edit_links.no_edit") %>
            <% else %>
              <%= link_to operator_name_back_office_edit_forms_path(@back_office_edit_form.token) do %>
                <%= t(".edit_links.default") %>
                <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.operator_name") %></span>
              <% end %>
            <% end %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.operator.labels.business_type") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= t(".sections.operator.values.business_type.#{@back_office_edit_form.business_type}") %>
          </dd>
          <dd class="govuk-summary-list__actions">
             <%= t(".edit_links.no_edit") %>
          </dd>
        </div>

        <% if @back_office_edit_form.transient_registration.partnership? %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t(".sections.operator.labels.people") %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= render("shared/resource_people_list", resource_people: @back_office_edit_form.people) %>
            </dd>
            <dd class="govuk-summary-list__actions">
              <%= link_to main_people_back_office_edit_forms_path(@back_office_edit_form.token) do %>
                <%= t(".edit_links.default") %>
                <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.people") %></span>
              <% end %>
            </dd>
          </div>
        <% end %>

        <% if @back_office_edit_form.transient_registration.company_no_required? %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t(".sections.operator.labels.company_no") %>
            </dt>

            <dd class="govuk-summary-list__value">
              <%= @back_office_edit_form.company_no %>
            </dd>
            <dd class="govuk-summary-list__actions">
              <%= link_to registration_number_back_office_edit_forms_path(@back_office_edit_form.token) do %>
                <%= t(".edit_links.default") %>
                <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.company_no") %></span>
              <% end %>
            </dd>
          </div>
        <% end %>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.operator.labels.operator_address") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <% displayable_address(@back_office_edit_form.operator_address).each do |address_line| %>
              <li><%= address_line %></li>
              <% end %>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to operator_postcode_back_office_edit_forms_path(@back_office_edit_form.token) do %>
              <%= t(".edit_links.default") %>
              <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.operator_postcode") %></span>
            <% end %>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        <%= t(".sections.contact.heading") %>
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.contact.labels.contact_name") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= format_names(@back_office_edit_form.contact_first_name, @back_office_edit_form.contact_last_name) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to contact_name_back_office_edit_forms_path(@back_office_edit_form.token) do %>
              <%= t(".edit_links.default") %>
              <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.contact_name") %></span>
            <% end %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.contact.labels.contact_position") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @back_office_edit_form.contact_position %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to contact_position_back_office_edit_forms_path(@back_office_edit_form.token) do %>
              <%= t(".edit_links.default") %>
              <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.contact_position") %></span>
            <% end %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.contact.labels.contact_phone") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @back_office_edit_form.contact_phone %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to contact_phone_back_office_edit_forms_path(@back_office_edit_form.token) do %>
              <%= t(".edit_links.default") %>
              <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.contact_phone") %></span>
            <% end %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.contact.labels.contact_email") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @back_office_edit_form.contact_email %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to contact_email_back_office_edit_forms_path(@back_office_edit_form.token) do %>
              <%= t(".edit_links.default") %>
              <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.contact_email") %></span>
            <% end %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.contact.labels.contact_address") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <% displayable_address(@back_office_edit_form.contact_address).each do |address_line| %>
              <li><%= address_line %></li>
              <% end %>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to contact_postcode_back_office_edit_forms_path(@back_office_edit_form.token) do %>
              <%= t(".edit_links.default") %>
              <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.contact_postcode") %></span>
            <% end %>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">
        <%= t(".sections.site.heading") %>
      </h2>

      <dl class="govuk-summary-list">
        <% if @back_office_edit_form.site_address&.located_by_grid_reference? %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%=t ".sections.site.labels.grid_reference" %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= @back_office_edit_form.site_address.grid_reference %>
            </dd>
            <dd class="govuk-summary-list__actions">
              <%= link_to site_grid_reference_back_office_edit_forms_path(@back_office_edit_form.token) do %>
                <%= t(".edit_links.default") %>
                <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.site_address") %></span>
              <% end %>
            </dd>
          </div>
        <% else %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%=t ".sections.site.labels.site_address" %>
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                <% displayable_address(@back_office_edit_form.site_address).each do |line| %>
                  <li><%= line %></li>
                <% end %>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <%= link_to site_grid_reference_back_office_edit_forms_path(@back_office_edit_form.token) do %>
                <%= t(".edit_links.default") %>
                <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.site_address") %></span>
              <% end %>
            </dd>
          </div>
        <% end %>
      </dl>

      <h2 class="govuk-heading-m">
        <%= t(".sections.exemptions.heading") %>
         <span class="float-right govuk-body">
          <%= t(".edit_links.no_edit") %>
        </span>
      </h2>

      <dl class="govuk-summary-list">
        <% @back_office_edit_form.registration_exemptions.includes(:exemption).each do |re| %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= re.exemption.code %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= re.exemption.summary %>
            </dd>
          </div>
        <% end %>
      </dl>


      <h2 class="govuk-heading-m">
        <%= t(".sections.farm.heading") %>
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.farm.labels.on_a_farm") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= t(".sections.farm.values.on_a_farm.#{@back_office_edit_form.on_a_farm}") %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to on_a_farm_back_office_edit_forms_path(@back_office_edit_form.token) do %>
              <%= t(".edit_links.default") %>
              <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.on_a_farm") %></span>
            <% end %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".sections.farm.labels.is_a_farmer") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= t(".sections.farm.values.on_a_farm.#{@back_office_edit_form.is_a_farmer}") %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to is_a_farmer_back_office_edit_forms_path(@back_office_edit_form.token) do %>
              <%= t(".edit_links.default") %>
              <span class="govuk-visually-hidden"> <%= t(".edit_links.visually_hidden.is_a_farmer") %></span>
            <% end %>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-button-group">
      <%= f.govuk_submit t(".next_button")%>
      <span class="govuk-body">
        <%= t(".button_linker") %>
        <%= link_to t(".cancel_button"), cancel_back_office_edit_forms_path(@back_office_edit_form.token) %>
      </span>
    </div>
  </div>
<% end %>
