<%= render("waste_exemptions_engine/shared/back", back_path: back_main_people_forms_path(@main_people_form.token)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@main_people_form) do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l"><%= t(".heading.#{@main_people_form.business_type}") %></h1>

      <p class="govuk-hint"><%= t(".description_1.#{@main_people_form.business_type}") %></p>

      <%= render("waste_exemptions_engine/shared/person_name", form: @main_people_form, f: f) %>

      <% if @main_people_form.transient_people.count < 1 %>
        <%= f.submit t(".add_person_link"), class: "govuk-button" %>
      <% else %>
        <div class="govuk-form-group">
          <%= f.submit t(".add_person_link"), class: "button-link" %>
        </div>
        <div class="govuk-form-group">
          <%= f.govuk_submit t(".next_button") %>
        </div>
      <% end %>
    <% end %>
  </div> <!-- closes .govuk-grid-column-two-thirds -->

  <% if @main_people_form.transient_people.count > 0 %>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s"><%= t(".list_of_people") %></h2>

      <ul class="govuk-list">
        <% @transient_registration.transient_people.each do |person| %>
          <li>
            <%= person.first_name %> <%= person.last_name %>
            <%= button_to(
                delete_person_main_people_forms_path(token: @main_people_form.token, id: person.id),
                class: "button-link",
                method: :delete,
                params: { token: @main_people_form.token }
            ) do %>
              <%= t(".delete_person_link") %>
              <span class="govuk-visually-hidden">
                <%= person.first_name %> <%= person.last_name %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> <!-- closes .govuk-grid-column-one-third -->
  <% end %>
</div> <!-- closes .govuk-grid-grid-row -->
