<%= render("waste_exemptions_engine/shared/back", back_path: back_applicant_email_forms_path(@applicant_email_form.id)) %>

<div class="text">
  <%= form_for(@applicant_email_form) do |f| %>
    <%= render("waste_exemptions_engine/shared/errors", object: @applicant_email_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <% if @applicant_email_form.errors[:contact_email].any? %>
    <div class="form-group form-group-error">
    <% else %>
    <div class="form-group">
    <% end %>
      <fieldset id="contact_email">
        <% if @applicant_email_form.errors[:contact_email].any? %>
        <span class="error-message"><%= @applicant_email_form.errors[:contact_email].join(", ") %></span>
        <% end %>

        <%= f.label :contact_email, t(".contact_email_label"), class: "form-label" %>
        <%= f.email_field :contact_email, value: @applicant_email_form.contact_email, class: "form-control" %>
      </fieldset>
    </div>

    <% if @applicant_email_form.errors[:confirmed_email].any? %>
    <div class="form-group form-group-error">
    <% else %>
    <div class="form-group">
    <% end %>
      <fieldset id="confirmed_email">
        <% if @applicant_email_form.errors[:confirmed_email].any? %>
        <span class="error-message"><%= @applicant_email_form.errors[:confirmed_email].join(", ") %></span>
        <% end %>

        <%= f.label :confirmed_email, t(".confirmed_email_label"), class: "form-label" %>
        <%= f.email_field :confirmed_email, value: @applicant_email_form.confirmed_email, class: "form-control" %>
      </fieldset>
    </div>

    <%= f.hidden_field :id, value: @applicant_email_form.id %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
