<%= render("waste_exemptions_engine/shared/back", back_path: back_applicant_email_forms_path(@applicant_email_form.token)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @applicant_email_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

      <%= f.govuk_email_field :applicant_email,
          label: { text: t(".applicant_email_label") } %>

      <%= f.govuk_email_field :confirmed_email,
          label: { text: t(".confirmed_email_label") } %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
