<%= render("waste_exemptions_engine/shared/back", token: @confirm_farm_exemptions_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @confirm_farm_exemptions_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
      <p class="govuk-body"> <%= t(".description") %></p>

      <% selected_farm_exemptions = selected_farm_exemptions(@transient_registration) %>

      <div class="govuk-body">
        <% if selected_farm_exemptions(@transient_registration).present? %>
        <% selected_farm_exemptions(@transient_registration).each do |exemption| %>
          <%= exemption.code %> <%= exemption.summary %><br>
        <% end %>
      <% else %>
        <p class="govuk-heading-s"><%= t(".no_farm_exemptions") %></p>
      <% end %>
      </div>

      <div class="govuk-form-group govuk-!-padding-top-3 <%= "govuk-form-group--error" if @confirm_farm_exemptions_form.errors[:workflow_state].any? %>">
        <%= f.govuk_collection_radio_buttons :temp_add_additional_non_bucket_exemptions,
            [
              OpenStruct.new(
                id: false,
                name: t(".options.false")
              ),
              OpenStruct.new(
                id: true,
                name: t(".options.true")
              )
            ],
            :id,
            :name,
            legend: {
              text: t(".heading"),
              hidden: true
            },
            inline: true %>

        <br>
        <% add_more_link = link_to t(".add_more_farm_exemptions_link"), new_farm_exemptions_form_path %>
        <p class="govuk-body"><%= t(".add_more_farm_exemptions") %> <%= add_more_link %></p>

        <%= f.govuk_submit %>
      </div>

    <% end %>

  </div>
</div>
