<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

    <p class="govuk-body"><%= t(".paragraph_1", reference: @registration.reference) %></p>
    <p class="govuk-body"><%= t(".paragraph_2_html", make_a_new_registration_link: make_a_new_registration_link(t(".make_a_new_registration"))) %></p>
    <p class="govuk-body"><%= t(".paragraph_3") %></p>
    <p class="govuk-body">
      <%= t(".paragraph_4.line_1") %> <br/>
      <%= t(".paragraph_4.line_2") %> <br/>
      <a href="mailto:<%= t(".enquiries_email") %>"><%= t(".enquiries_email") %></a>
    </p>
  </div>
</div>
