<div class="text">
  <h1 class="heading-large"><%= t(".heading") %></h1>

  <p><%= t(".things_to_try.title") %></p>
  <ol class="list list-number">
    <li><%= t(".things_to_try.one") %></li>
    <li><%= t(".things_to_try.two") %></li>
    <li><%= t(".things_to_try.three_html", start_a_new_registration_link: make_a_new_registration_link(t(".start_a_new_registration_link"))) %></li>
  </ol>
</div>
