<%= render("waste_exemptions_engine/shared/back", back_path: back_exemptions_forms_path(@exemptions_form.token)) %>

<div class="text">
  <%= form_for(@exemptions_form) do |f| %>
    <%= render("waste_exemptions_engine/shared/errors", object: @exemptions_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <p><%= t(".description") %></p>

    <div class="form-group <%= "form-group-error" if @exemptions_form.errors[:matched_exemptions].any? %>">
      <fieldset id="<%="matched_exemptions"%>">
        <legend class="visually-hidden"><%= t(".legend") %></legend>

        <% if @exemptions_form.errors[:exemptions].any? %>
          <span class="error-message"><%= @exemptions_form.errors[:exemptions].join(", ") %></span>
        <% end %>

        <% all_exemptions.each do |exemption|  %>
          <div class="multiple-choice wex_exemption">
            <%= f.label "checkbox-#{exemption.code}" do %>
              <%= f.check_box :exemptions, { :multiple => true, id: "exemptions_form_checkbox-#{exemption.code}", checked: @exemptions_form.exemptions&.include?(exemption) }, exemption.id, nil %>
              <span class="wex_exemption__code"><%= exemption.code %></span> <span class="wex_exemption__title"><%= exemption.summary %></span>
            <% end %>
          </div>
        <% end %>
      </fieldset>
    </div>

    <%= f.hidden_field :token, value: @exemptions_form.token %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
