<%= render("waste_exemptions_engine/shared/back", token: @register_in_wales_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= t(".paragraph_1") %></p>
    <p class="govuk-body"><%= t(".paragraph_2") %> <a href="https://naturalresources.wales/permits-and-permissions/waste-permitting"><%= t(".service_link") %></a>.</p>
    <p class="govuk-body"><%= t(".paragraph_3") %></p>
  </div>
</div>
