<%= render("waste_exemptions_engine/shared/back", token: @location_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@location_form) do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <%= f.govuk_collection_radio_buttons :location,
          [
            OpenStruct.new(id: :england, name: t(".options.england")),
            OpenStruct.new(id: :wales, name: t(".options.wales")),
            OpenStruct.new(id: :scotland, name: t(".options.scotland")),
            OpenStruct.new(id: :northern_ireland, name: t(".options.northern_ireland"))
          ],
          :id,
          :name,
          legend: { text: t(".heading"), tag: "h1", size: "l" }  do %>

      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
