<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @registration_complete_form.errors.any? %>

      <h1 class="govuk-heading-l"><%= t(".error_heading") %></h1>

      <% @registration_complete_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

    <% else %>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          <%= t(".heading") %>
          <br />
          <span class="govuk-panel__body"><%= t(".highlight_text") %></span>
        </h1>
        <div class="govuk-panel__body">
          <strong>
            <span id="reg_identifier"><%= @registration.reference %></span>
          </strong>
        </div>
      </div>

      <h2 class="govuk-heading-m"><%= t(".subheading") %></h2>

      <p class="govuk-body"><%= t(".confirmation_email_text.#{confirmation_comms(@registration_complete_form)}", applicant: @registration_complete_form.applicant_email, contact: @registration_complete_form.contact_email) %></p>

      <p class="govuk-body"><%= t(".paragraph_1", expire_day_month_year: registration_expires_day_month_year(@registration)) %></p>

      <p class="govuk-body"><%= t(".paragraph_2") %></p>

      <p class="govuk-body"><%= link_to(t(".survey_link_text"), t("layouts.application.feedback_url"), target: "_blank") %> <%= t(".survey_link_hint") %></p>
    <% end %>
  </div>
</div>
