<div class="column-two-thirds">
  <% if @registration_complete_form.errors.any? %>

    <h1 class="heading-large"><%= t(".error_heading") %></h1>

    <% @registration_complete_form.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>

  <% else %>

    <%= form_for(@registration_complete_form) do |f| %>
      <%= render("waste_exemptions_engine/shared/errors", object: @registration_complete_form) %>

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge"><%= t(".heading") %></h1>
        <p class="font-large"><%= t(".highlight_text") %><br><span class="strong"><%= @registration.reference %></span></p>
      </div>

      <p><%= t(".confirmation_email_text.#{emails_plural(@registration_complete_form)}", applicant: @registration_complete_form.applicant_email, contact: @registration_complete_form.contact_email) %></p>

      <h2 class="heading-medium"><%= t(".what_happens_next.subheading") %></h2>

      <ul class="list list-bullet">
        <li><%= t(".what_happens_next.bullet_1") %></li>
        <li><%= t(".what_happens_next.bullet_2.#{exemptions_plural(@registration_complete_form)}") %></li>
      </ul>

      <h2 class="heading-medium"><%= t(".registration_checks.subheading") %></h2>
      <p><%= t(".registration_checks.note") %></p>

      <div class="panel panel-border-wide">
        <p><%= t(".call_helpline_text") %></p>
      </div>

      <p><%= link_to(t(".survey_link_text"), t("layouts.application.feedback_url")) %> <%= t(".survey_link_hint") %></p>
    <% end %>

  <% end %>
</div>
