<%= render("waste_exemptions_engine/shared/back", token: @exemptions_summary_form.token) %>

<% is_multisite = @exemptions_summary_form.transient_registration.multisite? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
    <p class="govuk-body" id="charges-legend"><%= t(".description") %></p>

    <table class="govuk-table" aria-describedby="charges-legend">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"><%= t(".item_heading") %></th>
          <th scope="col" class="govuk-table__header"><%= t(".charge_heading") %></th>
          <% if is_multisite %>
            <th scope="col" class="govuk-table__header"><%= t(".total_heading") %></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% if @exemptions_summary_form.farming_exemptions.any? %>
          <% farming_total_charge = @exemptions_summary_form.farming_exemptions_charge %>
          <tr class="govuk-table__row">
            <% if is_multisite %>
              <th scope="row" class="govuk-table__cell">
                <%= t(".farming_exemptions") %>:<br>
                <%= @exemptions_summary_form.farming_exemptions_codes %>
              </th>
            <% else %>
              <td class="govuk-table__cell">
                <%= t(".farming_exemptions") %>:<br>
                <%= @exemptions_summary_form.farming_exemptions_codes %>
              </td>
            <% end %>
            <td class="govuk-table__cell">
              <% if is_multisite %>
                <% farming_single_site_charge = @exemptions_summary_form.farming_exemptions_single_site_charge %>
                <%= farming_single_site_charge %> x <%= @exemptions_summary_form.site_count %>
              <% else %>
                <%= farming_total_charge %>
              <% end %>
            </td>
            <% if is_multisite %>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <%= farming_total_charge %>
              </td>
            <% end %>
          </tr>
        <% end %>

        <% @exemptions_summary_form.non_farming_exemptions.each do |exemption| %>
          <% total_charge = @exemptions_summary_form.compliance_charge(exemption) %>
          <% is_discounted = @exemptions_summary_form.is_discounted_charge?(exemption) %>
          <tr class="govuk-table__row">
            <% if is_multisite %>
              <th scope="row" class="govuk-table__cell">
                <%= @exemptions_summary_form.exemption_title_with_band(exemption) %>
              </th>
            <% else %>
              <td class="govuk-table__cell">
                <%= @exemptions_summary_form.exemption_title_with_band(exemption) %>
              </td>
            <% end %>
            <td class="govuk-table__cell">
              <% if is_multisite %>
                <% single_site_charge = @exemptions_summary_form.single_site_compliance_charge(exemption) %>
                <%= single_site_charge %><%= " (d)" if is_discounted %> x <%= @exemptions_summary_form.site_count %>
              <% else %>
                <%= total_charge %><%= " (d)" if is_discounted %>
              <% end %>
            </td>
            <% if is_multisite %>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <%= total_charge %>
              </td>
            <% end %>
          </tr>
        <% end %>

        <tr class="govuk-table__row" id="registration-charge-row">
          <% if is_multisite %>
            <th scope="row" class="govuk-table__header"><%= t(".registration_charge") %></th>
          <% else %>
            <td class="govuk-table__cell"><%= t(".registration_charge") %></td>
          <% end %>
          <td class="govuk-table__cell"><%= @exemptions_summary_form.registration_charge %></td>
          <% if is_multisite %>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @exemptions_summary_form.registration_charge %></td>
          <% end %>
        </tr>

        <tr class="govuk-table__row" id="vat-exempt-row">
          <% if is_multisite %>
            <th scope="row" class="govuk-table__header"><%= t(".vat_exempt") %></th>
          <% else %>
            <td class="govuk-table__cell"><%= t(".vat_exempt") %></td>
          <% end %>
          <td class="govuk-table__cell">£0</td>
          <% if is_multisite %>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" id="total-charge-row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-bold">
            <%= t(".total_charge") %>
          </th>
          <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">
            <%= @exemptions_summary_form.total_charge %>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m"><%= t(".overview_heading") %></h2>
    <p class="govuk-body"><%= is_multisite ? t(".site_payment_info") : t(".single_site_payment_info") %></p>
    <ul class="govuk-list govuk-list--bullet">
      <% if @exemptions_summary_form.farm_exemptions_selected? %>
        <li><%= t(".capped_farming_charge") %></li>
      <% end %>
      <li><%= t(".full_compliance_charge") %></li>
      <li><%= t(".discounted_charge") %></li>
      <li><%= t(".band_3_charge") %></li>
      <% unless is_multisite %>
        <li><%= t(".registration_fee", charge_amount: @exemptions_summary_form.registration_charge) %></li>
      <% end %>
    </ul>
    <% if is_multisite %>
      <p class="govuk-body"><%= t(".multisite_registration_charge_info", charge_amount: @exemptions_summary_form.registration_charge) %></p>
    <% end %>
    <p class="govuk-body"><%= t(".vat_note") %></p>

    <%= form_for @exemptions_summary_form do |f| %>
      <%= f.govuk_submit t(".continue") %>
    <% end %>
  </div>
</div>
