<%= render("waste_exemptions_engine/shared/back", token: @exemptions_summary_form.token) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" id="exemption-header"><%= t(".exemption") %></th>
          <th scope="col" class="govuk-table__header" id="band-header"><%= t(".band") %></th>
          <th scope="col" class="govuk-table__header" id="compliance-charge-header"><%= t(".compliance_charge") %></th>
          <th scope="col" class="govuk-table__header" id="charge-type-header"><%= t(".full_or_discounted") %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @exemptions_summary_form.exemptions.each do |exemption| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= exemption.code %> - <%= exemption.summary %></td>
            <td class="govuk-table__cell"><%= @exemptions_summary_form.band(exemption) %></td>
            <td class="govuk-table__cell"><%= @exemptions_summary_form.compliance_charge(exemption) %></td>
            <td class="govuk-table__cell"><%= @exemptions_summary_form.charge_type(exemption) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t(".registration_charge") %></dt>
        <dd class="govuk-summary-list__value" id="registration-charge"><%= @exemptions_summary_form.registration_charge %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t(".total_charge") %></dt>
        <dd class="govuk-summary-list__value" id="total-charge"><%= @exemptions_summary_form.total_charge %></dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m"><%= t(".how_charges_calculated") %></h2>
    <p class="govuk-body"><%= t(".charge_explanation") %></p>
    <ul class="govuk-list govuk-list--bullet">
      <% if @exemptions_summary_form.farm_exemptions_selected? %>
      <li><%= t(".capped_farm_charge") %></li>
      <% end %>
      <li><%= t(".full_compliance_charge") %></li>
      <li><%= t(".discounted_charge") %></li>
      <li><%= t(".band_3_compliance_charge") %></li>
      <li><%= t(".registration_fee", charge_amount: @exemptions_summary_form.registration_charge) %></li>
    </ul>

    <%= form_for @exemptions_summary_form do |f| %>
      <%= f.govuk_submit t(".continue") %>
    <% end %>
  </div>
</div>
