<%= render("waste_exemptions_engine/shared/back", back_path: back_check_your_answers_forms_path(@check_your_answers_form.token)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <% if @check_your_answers_form.errors.any? %>
      <div class="govuk-error-summary" role="alert">
        <h2 class="govuk-error-summary__title"><%= t(".error_heading") %></h2>

        <p class="govuk-body"><%= t(".error_description_1") %></p>

        <ul class="govuk-list govuk-error-summary__list">
          <% @check_your_answers_form.errors.each do |error| %>
            <li><%= error.message %></li>
          <% end %>
        </ul>

        <p class="govuk-body"><%= t(".error_description_2") %></p>
      </div>
    <% else %>
      <%= form_for(@check_your_answers_form) do |f| %>
        <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

        <p class="govuk-body"><%= t(".description") %></p>

        <%= render("waste_exemptions_engine/shared/data_overview/company_info", form: @check_your_answers_form) %>
        <%= render("waste_exemptions_engine/shared/data_overview/registration_info", form: @check_your_answers_form) %>

        <%= f.govuk_submit t(".next_button") %>
      <% end %>
    <% end %>
  </div>
</div>
