<%= render("waste_exemptions_engine/shared/back", token: @contact_agency_form.token) %>

<h1 class="govuk-heading-l"><%= t(".heading") %></h1>

<p class="govuk-body"><%= t(".paragraph_1") %></p>

<ul class="govuk-list govuk-list--bullet">
  <% t(".contact_reasons").each do |reason| %>
  <li><%= reason %></li>
  <% end %>
</ul>

<p class="govuk-body"><%= t(".paragraph_2") %></p>
