<%= render("waste_exemptions_engine/shared/back", token: @check_contact_email_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @check_contact_email_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <%=
        f.govuk_collection_radio_buttons :temp_reuse_applicant_email,
        [
          OpenStruct.new(
            id: true,
            name: t(".options.yes")
          ),
          OpenStruct.new(
            id: false,
            name: t(".options.no")
          )
        ],
        :id,
        :name,
        inline: true,
        legend: { text: t(".heading"), size: "l", tag: "h1" },
        hint: { text: @check_contact_email_form.applicant_email } %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
