<%= render("waste_exemptions_engine/shared/back", token: @capture_complete_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @capture_complete_form.errors.any? %>

      <h1 class="govuk-heading-l"><%= t(".error_heading") %></h1>

      <ul style="list-style-type:none;">
        <% @capture_complete_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    <% else %>

      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

      <p class="govuk-body"><%= t(".description.line_1") %></p>
      <p class="govuk-body"><%= t(".description.line_2") %></p>
      <p class="govuk-body"><%= t(".description.line_3") %></p>
    <% end %>
  </div>
</div>
