<%= render("waste_exemptions_engine/shared/back", token: @confirm_no_exemption_changes_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <%= form_for @confirm_no_exemption_changes_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

      <div class="govuk-form-group <%= "govuk-form-group--error" if @confirm_no_exemption_changes_form.errors[:workflow_state].any? %>">
        <%= f.govuk_collection_radio_buttons :workflow_state,
            @confirm_no_exemption_changes_form.workflow_state_options_for_select, :id, :name, inline: true, legend: { text: t(".legend"), hidden: true } %>

        <br />
        <%= f.govuk_submit %>
      </div>
    <% end %>

  </div>
</div>
