<% content_for :title, t(".heading.#{@operator_name_form.business_type}").try(:html_safe) %>

<%= render("waste_exemptions_engine/shared/back", back_path: back_operator_name_forms_path(@operator_name_form.token)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @operator_name_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l">
        <%= t(".heading.#{@operator_name_form.business_type}") %>
      </h1>

      <p class="govuk-hint">
        <%= t(".description") %>
      </p>

      <%= f.govuk_text_field :operator_name,
          label: {
            text: t(".operator_name_label.#{@operator_name_form.business_type}")
          } %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
